In [28]:
import numpy as np
import util as u
import pandas as pd

In [29]:
file = "/home/jasper/OneDrive/Uni/Bachelor/sim/perfect/fit.0.hits"

df = pd.read_csv(file,skiprows=1,names=["evid","detid","dphi","dtheta","pvdphi","pvdtheta"], sep='\s+')

In [30]:
df.head(5)

   evid  detid     dphi   dtheta   pvdphi  pvdtheta
0   577      0 -2.54452  2.97629 -2.54452   2.97629
1   577      1 -2.54452  2.97629 -2.54452   2.97629
2   582      0 -2.74810  2.48440 -2.74810   2.48440
3   585      0  1.09850  2.10017  1.09850   2.10017
4   586      1  2.77012  2.74810  2.77012   2.74810

In [31]:
df.size

1271202

In [32]:
for i in [1,2]:
    temp = pd.read_csv(file[:-6]+str(i)+".hits",skiprows=1,names=["evid","detid","dphi","dtheta","pvdphi","pvdtheta"], sep='\s+')
    df = pd.concat([df,temp],axis=0)

In [33]:
df.head(5)

   evid  detid     dphi   dtheta   pvdphi  pvdtheta
0   577      0 -2.54452  2.97629 -2.54452   2.97629
1   577      1 -2.54452  2.97629 -2.54452   2.97629
2   582      0 -2.74810  2.48440 -2.74810   2.48440
3   585      0  1.09850  2.10017  1.09850   2.10017
4   586      1  2.77012  2.74810  2.77012   2.74810

In [34]:
df.size

3841278

In [45]:
dupli = df[df.duplicated(subset=["evid"],keep=False)]

In [46]:
dupli.head(5)

    evid  detid      dphi   dtheta    pvdphi  pvdtheta
0    577      0 -2.544520  2.97629 -2.544520   2.97629
1    577      1 -2.544520  2.97629 -2.544520   2.97629
6    588      0  2.402160  2.50519  2.402160   2.50519
7    588      1  2.402160  2.50519  2.402160   2.50519
16   602      0  0.619704  2.79758  0.619704   2.79758

In [49]:
dupli.size

1631184

In [50]:
dupli.max()

evid        999998.00000
detid            1.00000
dphi             3.14149
dtheta           3.14054
pvdphi           3.14149
pvdtheta         3.14054
dtype: float64

In [55]:
np.rad2deg(3.14)

179.9087476710785

In [60]:
np.rad2deg(2.12)

121.46705256773453

In [61]:
dupli.min()

evid        4.00000
detid       0.00000
dphi       -3.14156
dtheta      2.12074
pvdphi     -3.14156
pvdtheta    2.12074
dtype: float64

In [62]:
group = dupli.groupby(by=["detid"]).indices

r_source = 70 #mm
area = (r_source/10)**2*np.pi

hits = len(group[0])
ratio = hits/1000000
geofac = np.pi*area*ratio

In [63]:
hits

135932

In [64]:
geofac

65.73815820699504