In [1]:
import numpy as np
import pandas as pd

In [2]:
def geo(det1,det2):
    group = dupli.groupby(by=["detid"]).indices
    print(group)
    hits = len(group[0])
    ratio = hits/10**7
    geofac = np.pi*area*ratio
    return geofac

In [3]:
file = "/home/jasper/Bachelor/sim/simple_grid/test.0.hits"

df = pd.read_csv(file,skiprows=1,names=["evid","detid","x","y","z","dphi","dtheta"], sep='\s+')

area = np.pi*(83/10)**2

print(df.size)

#reading and adding the other.hits to df

for i in [1,2]:
    temp = pd.read_csv(file[:-6]+str(i)+".hits",skiprows=1,names=["evid","detid","x","y","z","dphi","dtheta"], sep='\s+')
    #print(temp.size)
    df = pd.concat([df,temp],axis=0)

#counting the coincidence events
dupli = df[df.duplicated(subset=["evid"],keep=False)]

2064335

In [4]:
dupli

          evid  detid         x          y        z      dphi   dtheta
0          578     41  -2.58167  28.015500   5.0000  1.308310  2.34831
1          578     11  -9.23769   3.242700  30.2500  1.308310  2.34831
2          578     42   3.33453  50.034800 -17.4435  1.308310  2.34831
3          579     42 -12.45050 -36.086700 -25.0000 -0.036039  2.42597
4          579     22  -7.62877 -36.260500 -30.5500 -0.036039  2.42597
...        ...    ...       ...        ...      ...       ...      ...
301375  999358     41 -19.25250  13.457000   5.0000  2.437970  2.23910
301376  999358      8   5.13412  -7.235030  30.2500  2.437970  2.23910
301377  999358     42 -38.46040  29.754900 -14.8879  2.437970  2.23910
301380  999361     41 -24.51430  -8.897180   5.0000  0.509792  2.58440
301381  999361     42  -8.19949   0.224225 -25.0000  0.509792  2.58440

[772788 rows x 7 columns]

In [12]:
counts = dupli["evid"].value_counts()
full_hits = dupli[dupli["evid"].isin(counts[counts == 4].index)]

In [13]:
test = full_hits[full_hits.duplicated(subset=["evid"],keep=False)]
test

          evid  detid         x         y        z      dphi   dtheta
55         664     41 -33.87690  26.70620   5.0000 -1.671000  2.86983
56         664     18 -33.17300  33.70700  30.2500 -1.671000  2.86983
57         664     42 -34.71320  18.38850 -25.0000 -1.671000  2.86983
58         664     35 -34.86790  16.84970 -30.5500 -1.671000  2.86983
70         678     41   2.01064   4.37091   5.0000  0.766618  2.24793
...        ...    ...       ...       ...      ...       ...      ...
301318  999296     21  36.99130 -39.49000 -30.5500 -0.851213  2.33414
301371  999352     41 -32.18240   1.75414   5.0000 -1.643210  2.26562
301372  999352     18 -29.99070  31.96940  30.2500 -1.643210  2.26562
301373  999352     42 -34.62840 -31.96730 -23.1800 -1.643210  2.26562
301374  999352     23 -35.24730 -40.50000 -30.3105 -1.643210  2.26562

[120528 rows x 7 columns]

In [20]:
group = test["evid"].nunique()
group

30132

In [22]:
hits = group
ratio = hits/10**6
geofac = np.pi*area*ratio
geofac

20.4872604659606

In [23]:
corner =[0.0103,0.0116]
np.round(np.mean(corner),5)

0.01095

In [24]:
np.round(np.std(corner),6)

0.00065